.bs-docs-section
  .row
    .col-lg-12
      .well
        #messages
          = link_to 'New', new_message_path
          %table.table
            %tbody
              - @usrs_between.each do |user|
                - i=0
                - @messages.each do |message|
                  - if message.user_to == user or message.user_from == user
                    - i=1
                    %tr
                      %td
                        = image_tag message.user_to == user ?  message.to_user.avatar.url(:small) : message.from_user.avatar.url(:small)
                        = message.user_to == user ?  message.to_user.nickname : message.from_user.nickname
                        = message.created_at.to_s(:my_datetime)
                      %td
                        = message.message
                  - break if i==1
:javascript
  /*$(function() {
    window.router = new BlindDateNew.Routers.MessagesRouter({messages: #{@messages.to_json.html_safe}});
    Backbone.history.start();
  });*/