.bs-docs-section
  .row
    .col-lg-12
      .well
        .chat_container
          .well
            #chat_room_private
              #messages
                %table.table
                  %tbody
                    - @messages.each do |message|
                      %tr
                        %td.avat
                          #img
                            = image_tag message.from_user.avatar.url(:small)
                        %td
                          #nickname
                            = link_to "#{message.from_user.nickname}", page_path(message.from_user)
                          #date
                            = l message.created_at, format: :my
                        %td#text_mess
                          = message.message
          %p
            = link_to 'Назад', messages_path, :class => "btn btn-primary btn-xs"
          %form#new_message_form_private.form-inline{role: "form"}
            .col-lg-6
              %input#user_to{:type => "hidden", :value => @partner_id}
              %input#user_from{:type => "hidden", :value => current_user.id}
              %textarea#message.form-control{placeholder: "Твое сообщение",rows: "4"}
            %br/
            %br/
            %button#send.btn.btn-success.btn-lg{type: "submit"} Отправить
