<h1>Edit message</h1>

<form id="edit-message" name="message">
  <div class="field">
    <label for="message"> message:</label>
    <input type="text" name="message" id="message" value="<%= message %>" >
  </div>

  <div class="field">
    <label for="user_to"> user_to:</label>
    <input type="text" name="user_to" id="user_to" value="<%= user_to %>" >
  </div>

  <div class="field">
    <label for="user_from"> user_from:</label>
    <input type="text" name="user_from" id="user_from" value="<%= user_from %>" >
  </div>

  <div class="field">
    <label for="image"> image:</label>
    <input type="text" name="image" id="image" value="<%= image %>" >
  </div>

  <div class="field">
    <label for="date_at"> date_at:</label>
    <input type="text" name="date_at" id="date_at" value="<%= date_at %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Message" />
  </div>

</form>

<a href="#/index">Back</a>