<p>
  <b>Message:</b>
  <%= message %>
</p>

<p>
  <b>User to:</b>
  <%= user_to %>
</p>

<p>
  <b>User from:</b>
  <%= user_from %>
</p>

<p>
  <b>Image:</b>
  <%= image %>
</p>

<p>
  <b>Date at:</b>
  <%= date_at %>
</p>


<a href="#/index">Back</a>